// bootstrap change

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $red-light;
}

.navbar-light .navbar-nav .nav-link {
    color: $grey-dark;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $red-light;
    border-bottom: $red-light solid 1px;
}

section.section_one div.section_container div.card {
  border: transparent;
}

.jumbotron {
  margin-bottom: 0;
}

//colors + opacity

.backg_white {
  background-color: $white;
}

.backg_blue {
  background-color: $blue-persian;
}

.backg_lime_green {
  background-color: $lime-green;
}

.backg_green {
  background-color: $green;
}

.backg_turqu {
  background-color: $turqueise;
}

.color_grey {
  color: $grey-dark;
}

.color_normal_grey {
  color: $grey-opaque;
}

.color_red {
  color: $red-light;
}

.color_white {
  color: $white;
}

.color_lightgrey {
  color: $grey-light;
}

.color_green {
  color: $green;
}


// Phone

div {
  &.telephone_number_cont {
    width: 140px;
    display: flex;
    align-items: center;
    i {
      color: $red-light;
      padding-right: 10px;
    }
    p {
      font-size: 0.9em;
      margin-top: 15px;
    }
  }
}

//contact form

div {
  &.form_container {
    width: 310px;
    height: 440px;
    background-color: $white;
    position: absolute;
    z-index: 1;
    border-radius: 7px;
    div {
      &.img_cont {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 5px;
        img {
          width: 100%;
          border-radius: 50px;
        }
      }
    }
    div {
      &.input_container {
        margin-left: 20px;
        input {
          width: 92%;
          font-size: 0.8em;
          padding: 10px 10px;
          border: $grey-light solid 1px;
          border-radius: 7px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// button

.red_button {
  font-size: 0.8em;
  padding: 10px 10px;
  background-color: $red-light;
  border-radius: 7px;
  margin-bottom: 10px;
  color: $white;
}

.my_button {
  font-size: 0.9em;
  padding: 10px 35px;
  border-radius: 7px;
}

.btn-outline-success {
  color: $red-light;
  background-color: rgba(247, 98, 16, 0.2);
  border: transparent;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: $red-light;
    border-color: $red-light;
}

// text & margin 0 auto

.auto_center {
  margin: 0 auto;
}

.text_size_extraSmall {
  font-size: 0.6em;
}

.text_size_small {
  font-size: 0.9em;
}

.text_size_normal {
  font-size: 1.2em;
}

.text_center {
  text-align: center;
}

.text_bold {
  font-weight: bold;
}

.text_light {
  font-weight: lighter;
}

.line_height {
  line-height: 1.5;
}

.font_size {
  font-size: 0.9em;
}

.font_oblique {
  font-style: oblique;
}


//background

.background_jambo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/marketing-intro.jpg');
}

.case_studie_one_backgr {
  background-image: url('../images/case-studies-1-400x450.jpg');
  @include background-box;
}

.case_studie_two_backgr {
  background-image: url('../images/case-studies-4-400x450.jpg');
  @include background-box;
}

.case_studie_three_backgr {
  background-image: url('../images/case-studies-6-400x450.jpg');
  @include background-box;
}

.background-marketing_meeting {
  background-image: url('../images/we-boost-our-clients-400x366.jpg');
  @include background-box;
  border-radius: 5px;
}

.back_womane_red_hair {
  background-image: url('../images/large-testimonial-400x389.jpg');
  @include background-box;
  border-radius: 5px;
  background-position: center;
}

//margin/padding-top 10-100px

$types: m, p;
@each $type in $types {
  @for $i from 1 through 50 {
    .#{$type}t_#{$i} {
      @if $type == m {
        margin-top: 10px * $i;
      } @else {
        padding-top: 10px * $i;
      }
    }
  }
}

//margin/padding-bottom 5-100px

$types: m, p;
@each $type in $types {
  @for $i from 1 through 10 {
    .#{$type}b_#{$i} {
      @if $type == m {
        margin-bottom: 5px * $i;
      } @else {
        padding-bottom: 5px * $i;
      }
    }
  }
}

//margin/padding-left 5-70px

$types: m, p;
@each $type in $types {
  @for $i from 1 through 15 {
    .#{$type}l_#{$i} {
      @if $type == m {
        margin-left: 5px * $i;
      } @else {
        padding-left: 5px * $i;
      }
    }
  }
}

//margin/padding-right 5-70px

$types: m, p;
@each $type in $types {
  @for $i from 1 through 15 {
    .#{$type}r_#{$i} {
      @if $type == m {
        margin-right: 5px * $i;
      } @else {
        padding-right: 5px * $i;
      }
    }
  }
}
