footer {
  width: 100vw;
  height: 50vh;
  div {
    &.foot_first_section {
      @include container-center;
      height: 70%;
      @include flex;
    }
  }
}
div {
  &.cont_left {
    width: 40%;
    margin-top: 80px;
    padding-right: 20px;
    div {
      &.cont_social {
        width: 60%;
        @include flex;
        div {
          &.cont_i {
            width: 20px;
            height: 20px;
            margin-top: 20px;
            position: relative;
            a {
              color: $black;
              i {
                @include transform-translate;
                }
              }
              a:hover {
                color: $red-light;
              }
            }
          }
        }
      }
    }
  }
div {
  &.cont_right {
    width: 60%;
    margin-top: 80px;
    @include flex;
    div {
      &.cont_ul {
        width: calc(90% / 3);
        height: 100%;
        ul {
          font-size: 0.9em;
          li:first-child {
            font-weight: bold;
          }
          li {
            margin-bottom: 12px;
            a {
              color: $black;
              font-weight: lighter;
            }
            a:hover {
              color: $red-light;
            }
          }
        }
      }
    }
  }
}
div {
  &.foot_sec_section {
    @include container-center;
    height: 30%;
    display: flex;
    div {
      &.foot_small_cont {
        width: calc(100% / 3);
        height: 100%;
        font-size: 0.8em;
        text-align: right;
        padding-top: 20px;
      }
    }
  }
}
