section {
  &.section_four {
    @include width-height(100vw, 140vh);
    background-color: $light-blue;
    background-image: linear-gradient($light-blue, $white);
    div {
      &.about_container {
        @include container-center;
        height: 80%;
        div {
          &.square_card {
            width: calc(100% / 2);
            height: 43%;
            display: inline-block;
            float: right;
            div {
              &.img_cont {
                @include width-height(100%, 80%);
                margin-top: 53px;
                img {
                  @include width-height(100%, 100%);
                }
              }
            }
          }
        }
      }
    }
  }
}
div {
  &.spec_container {
    width: 100%;
    display: flex;
    div {
      &.icon_cont{
        @include width-height(70px, 70px);
        border: $red-light solid 2px;
        border-radius: 20px;
        position: relative;
        i {
          @include transform-translate(50%, 50%);
          color: $red-light;
          font-size: 28px;
        }
      }
    }
  }
}
div {
  &.title_awards {
    @include container-center;
  }
}
div {
  &.container_awards {
    @include container-center;
    height: 200px;
    display: flex;
    div {
      &.cont_winner {
        width: calc(100% / 4);
        height: 100%;
        border: solid black 1px;
      }
    }
  }
}
div {
  &.container_awards {
    @include container-center;
  }
}
