section {
  &.section_three {
    @include width-height(100vw, 75vh);
    div {
      &.container_title {
        @include container-center;
      }
    }
    div {
      &.cards_container {
        @include container-center;
        height: 500px;
        display: flex;
        justify-content: space-between;
        div {
          &.cards {
            width: calc(96% / 3);
            height: 100%;
            div {
              &.img_cont {
                @include width-height(100%, 60%);
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    div {
      &.container_button {
        @include container-center;
        display: flex;
        justify-content: center;
        margin-top: 35px;
      }
    }
  }
}
