section {
  &.section_six {
    width: 100vw;
    height: 50vh;
    background-color: lightblue;
    div {
      &.market_container {
        @include container-center;
        height: 50%;
        display: flex;
        justify-content: space-between;
        div {
          &.elements_cont {
            width: calc(100% / 2);
            height: 100%;
            border: solid black 1px;
          }
        }
      }
    }
  }
}
div {
  &.blog_container {
    @include container-center;
    height: 50%;
    display: flex;
    justify-content: space-between;
    div {
      &.blog_card_cont {
        width: calc(95% / 3);
        height: 100%;
        border: solid black 1px;
      }
    }
  }
}
