section {
  &.section_six {
    @include width-height(100vw, 60vh);
    background-image: linear-gradient($light-blue, $white);
    div {
      &.market_container {
        @include container-center;
        height: 50%;
        display: flex;
        justify-content: space-between;
        div {
          &.elements_cont {
            width: calc(100% / 2);
            height: 100%;
            button {
              position: relative;
              top: 60%;
              right: -65%;
            }
          }
        }
      }
    }
  }
}
div {
  &.blog_container {
    @include container-center;
    height: 70%;
    display: flex;
    justify-content: space-between;
    div {
      &.blog_card_cont {
        width: calc(95% / 3);
        height: 60%;
        div {
          &.cont_img {
            @include width-height(100%, 60%);
          }
        }
      }
    }
  }
}
