section {
  &.secttion_five {
    @include width-height(100vw, 60vh);
    div {
      &.woman_container {
        @include container-center;
        height: 400px;
        display: flex;
        justify-content: space-between;
        div {
          &.cards_container_woman {
            width: calc(100% / 2 - 30px);
            height: 100%;
            margin-top: 95px;
          }
        }
      }
    }
  }
}
