section {
  &.section_four {
    width: 100vw;
    height: 140vh;
    background-color: lightblue;
    div {
      &.about_container {
        @include container-center;
        height: 80%;

        div {
          &.square_card {
            width: calc(100% / 2);
            height: 50%;
            border: black solid 1px;
            display: inline-block;
            float: right;
          }
        }
      }
    }
  }
}
div {
  &.title_awards {
    @include container-center;
  }
}
div {
  &.container_awards {
    @include container-center;
    height: 200px;
    display: flex;
    div {
      &.cont_winner {
        width: calc(100% / 4);
        height: 100%;
        border: solid black 1px;
      }
    }
  }
}
div {
  &.container_awards {
    @include container-center;
  }
}
