$center-container: 70%;

// colors
$black: #000;
$black-opaque: #1b1c1d;
$white: #fff;
$red-light: #f76210;
$grey-light: #989ba0;
$grey-opaque: #858786;
$grey-dark: #424242;
$green: #88EF37; //color edited by client was #efd43f(yellow);
// $green: #38c3a0;
$blue-persian: #223bcb;
