$center-container: 80%;

// colors
$black: #000;
$black-opaque: #1b1c1d;
$white: #fff;
$red-light: #f76210;
$grey-light: #e3e4e2;
$grey-opaque: #858786;
$grey-dark: #424242;
$yellow: #efd43f;
$green: #38c3a0;
$blue-persian: #223bcb;
