<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project-html-VueJs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/master.css">
  </head>
  <body>
    <div id="root">

      <header>

        <div class="nav_container">
          <nav class="navbar navbar-expand-lg navbar-light my_nav">
            <a class="navbar-brand" href="#">
              <img src="./dist/images/avada-marketing-logo.png" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto my_nav_ul">
                <li class="nav-item"
                v-for="contact in navContacts">
                  <a class="nav-link" :href="`${contact.link}`">
                    {{ contact.name }}
                  </a>
                </li>
              </ul>

              <form class="form-inline my-2 my-lg-0">

                <div class="telephone_number_cont">
                  <i class="fas fa-phone-alt"></i>
                  <p>(555) 802-1234</p>
                </div>

                <button class="btn btn-outline-success my-2 my-sm-0 my_button" type="submit">
                  Free Quote
                </button>
              </form>
            </div>
          </nav>
        </div>

        <div class="jumbotron background_jambo">
          <div class="jumbo_container ">
            <div class="jumbo_contents">
              <h1 class="display-4 text_bold">
                Unlock Your Online Growth Potential
              </h1>
              <p class="lead mt_1">
                Online marketing to secure costumers retantion,
                leads and sales. We flocus on the bigger picture.
              <p class="lead">
                <button class="my_button font_size "type="button" name="button">
                  Our Services
                  <i class="fas fa-arrow-right"></i>
                </button>
              </p>
            </div>
          </div>

          <div class="form_container">
            <div class="img_cont">
              <img src="./dist/images/marketing-consultant-expert.jpg" alt="">
            </div>
            <div class="richard_cont">
              <div class="text_center text_size_normal mb_2">
                Richard Madsen
              </div>
              <div class="text_center text_light color_grey text_size_small auto_center">
                Marketing Consultant Expert
              </div>
              <div class="telephone_number_cont text_center auto_center">
                <i class="fas fa-phone-alt"></i>
                <p class="color_red">(555) 802-1234</p>
              </div>
            </div>
            <div class="input_container">
              <input type="text" name="name" placeholder="Your Name*">
              <input type="text" name="mail" placeholder="Your Email*">
              <input type="text" name="phone" placeholder="Your Phone Number*">
              <button class="red_button" type="button" name="button">
                Get a Callback
              </button>
              <p class="text_center text_size_extraSmall color_normal_grey">
                By submitting my data I agree to be contacted
              </p>
            </div>
          </div>

          <div class="small_containers_container">
            <div class="demo">
              <img src="./dist/images/download.png" alt="">
              <p class="color_grey text_size_extraSmall text_center">
                Demos
              </p>
            </div>
            <div class="sale">
              <span class="dollar text_bold color_green text_center">
                $
              </span>
              <span class="number text_bold color_green text_center">
                39
              </span>
              <p class="color_grey text_size_extraSmall text_center">
                On Sale
              </p>
            </div>

          </div>
        </div>
      </header>

      <main>
        <section class="section_one">
          <div class="section_container pt_7">

            <div class="card">
              <div class="card_cont_cont">
                <div class="little_icon_cont">
                  <div class="sphere backg_blue">
                  </div>
                  <div class="bus_text text_size_small">
                    Business Growth
                  </div>
                </div>
                <h2 class="text_bold">
                  Increase Brand Awareness
                </h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <button class="red_button" type="button" name="button">
                Get a Consultation
              </button>
              </div>
            </div>

            <div class="card image">
              <div class="blue-sphere backg_turqu">
              </div>
              <div class="image_panel_cont">
                <img src="./dist/images/green-large-panel.png" alt="" class="my_panel">
              </div>
              <div class="image_panel_small_cont">
                <img src="./dist/images/small-green-panel.png" alt="" class="my_small_panel">
              </div>
              <div class="image_cont">
                <img src="./dist/images/blue-man.png" alt="" class="my_image">
              </div>
            </div>

            <div class="card image">
              <div class="blue-sphere yellow">
                <img src="./dist/images/yellow-sphere.png" alt="">
              </div>
              <div class="image_panel_cont yellow">
                <img src="./dist/images/yellow-pannel.png" alt="" class="my_panel">
              </div>
              <div class="image_cont woman-yellow">
                <img src="./dist/images/yellow-woman.png" alt="" class="my_image">
              </div>
            </div>

            <div class="card">
              <div class="card_cont_cont">
                <div class="little_icon_cont">
                  <div class="sphere backg_lime_green">
                  </div>
                  <div class="bus_text text_size_small">
                    Invenstors in People
                  </div>
                </div>
                <h2 class="text_bold">
                  In-House Sales Training
                </h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <button class="red_button" type="button" name="button">
                Get a Consultation
              </button>
              </div>
            </div>

            <div class="card">
              <div class="card_cont_cont">
                <div class="little_icon_cont">
                  <div class="sphere backg_green">
                  </div>
                  <div class="bus_text text_size_small">
                    Social Media Analysis
                  </div>
                </div>
                <h2 class="text_bold">
                  Harness Your Social Proof
                </h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <button class="red_button" type="button" name="button">
                Get a Consultation
              </button>
              </div>
            </div>

            <div class="card image">
              <div class="blue-sphere green">
                <img src="./dist/images/green-sphere.png" alt="">
              </div>
              <div class="image_panel_cont green">
                <img src="./dist/images/green-large-panel.png" alt="" class="my_panel">
              </div>
              <div class="image_panel_small_cont green">
                <img src="./dist/images/small-green-panel.png" alt="" class="my_small_panel">
              </div>
              <div class="image_cont man-green">
                <img src="./dist/images/green-man.png" alt="" class="my_image">
              </div>
            </div>

          </div>

        </section>
        <section class="section_two">

          <div class="brands_title">
            <h2 class="text_bold text_center">Some Brands We Work With</h2>
            <p class="text_center pb_5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>

          <div class="brands_container">
            <div class="brand_box">
              <img src="./dist/images/abstract.png" alt="">
            </div>
            <div class="brand_box">
              <img src="./dist/images/cglobal.png" alt="">
            </div>
            <div class="brand_box">
              <img src="./dist/images/next.png" alt="">
            </div>
            <div class="brand_box">
              <img src="./dist/images/hemisferio.png" alt="">
            </div>
            <div class="brand_box">
              <img src="./dist/images/spaces.png" alt="">
            </div>
            <div class="brand_box">
              <img src="./dist/images/digitalbox.png" alt="">
            </div>

          </div>

          <div class="brands_reference">
            <div class="spec_container face">

              <div class="avatar ml_15">
                <img src="./dist/images/marketing-expert-cta.png" alt="">
              </div>
              <div class="name_cont_cont ml_4">
                <div class="name text_size_small">
                  Sandy Reiff
                </div>
                <div class="profession text_size_extraSmall">
                  Marketing Consultant Expert
                </div>
              </div>

            </div>

            <div class="spec_container">
              <p class="">
                Drive Leads abd Sales with Avada
              </p>
            </div>

            <div class="spec_container">
              <button class=" btn-outline-success my_button ml_7" type="submit">
                <i class="fas fa-phone-alt"></i>
                (555) 802-1234
              </button>
            </div>
          </div>

        </section>
        <section class="section_three">

          <div class="container_title mt_5">
            <h2 class="text_center text_bold mb_7">
              Trusted by Leading Organisations
            </h2>
          </div>

          <div class="cards_container">
            <div class="cards">
              <div class="img_cont case_studie_one_backgr">
                <!-- <img src="./dist/images/case-studies-1-400x450.jpg" alt=""> -->
              </div>
              <h5 class="mt_3">
                How Sapces attracted five million visitors by improving the content
              </h5>
              <hr>
              <h1 class="text_bold">
                200%
              </h1>
              <p class="text_light">
                Higher revenue from digital
              </p>
            </div>

            <div class="cards">
              <div class="img_cont case_studie_two_backgr">
              </div>
              <h5 class="mt_3">
                Creativity helped Hemisferio to increase their brand reach vertically
              </h5>
              <hr>
              <h1 class="text_bold">
                10x
              </h1>
              <p class="text_light">
                Sales increase with the same ad spend
              </p>
            </div>

            <div class="cards">
              <div class="img_cont case_studie_three_backgr">
              </div>
              <h5 class="mt_3">
                How DigitalBox used AlPowered data insight to boost sales
              </h5>
              <hr>
              <h1 class="text_bold">
                3-year
              </h1>
              <p class="text_light">
                Partnership with Avada Consultant
              </p>
            </div>

          </div>

          <div class="container_button">
            <button class="red_button" type="button" name="button">
              Read More case Studies
            </button>

          </div>

        </section>
        <section class="section_four">

          <div class="about_container">

            <div class="square_card">
              <div class="img_cont background-marketing_meeting">
              </div>
            </div>

            <div class="square_card">
              <h1 class="text_bold pr_7 mt_10">
                We Boost Our Clients' Bottom Line by Optimizing Their Growth Potential.
              </h1>
              <p class="pr_7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            <button class="red_button mt_1" type="button" name="button">
              Why Work With Us
            </button>
            </div>

            <div class="square_card">
              <div class="spec_container">
                <div class="icon_cont mt_20">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="name_cont_cont mt_20 ml_4">
                  <div class="name">
                    Accountability
                  </div>
                  <div class="profession text_size_small text_light mt_2">
                    Marketing Consultant Expert
                  </div>
                </div>
              </div>
              <div class="spec_container">
                <div class="icon_cont mt_4">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="name_cont_cont mt_4 ml_4">
                  <div class="name">
                    Transparency
                  </div>
                  <div class="profession text_size_small text_light mt_2">
                    Marketing Consultant Expert
                  </div>
                </div>
              </div>
              <div class="spec_container">
                <div class="icon_cont mt_4">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="name_cont_cont mt_4 ml_4">
                  <div class="name">
                    Investment
                  </div>
                  <div class="profession text_size_small text_light mt_2">
                    Marketing Consultant Expert
                  </div>
                </div>
              </div>
            </div>

            <div class="square_card">
              <div class="items_cont">
                <h4 class="text_bold mt_20">
                  We Build Relantionships
                </h4>
                <p class="pr_7 text_light text_size_small">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <h4 class="text_bold mt_7">
                  Proprietary Processes
                </h4>
                <p class="pr_7 text_light text_size_small">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>

            </div>
          </div>

          <div class="title_awards text_center">
            <h4 class="text_center text_bold mb_7">
              Awards
            </h4>
          </div>
          <div class="container_awards pb_10">

            <div class="cont_winner">
              <div class="cont_brand">
                <img src="./dist/images/award-a-200x191.png" alt="">
              </div>
              <div class="cont_text">
                <div class="text_light text_center text_size_small">
                  Winner Seo Master MAGT
                </div>
                <div class="text_light text_center text_size_small">
                  Smart Start Award 2017
                </div>
              </div>
            </div>
            <div class="cont_winner">
              <div class="cont_brand">
                <img src="./dist/images/award-b-200x191.png" alt="">
              </div>
              <div class="cont_text">
                <div class="text_light text_center text_size_small">
                  Top Social Media Agencies
                </div>
                <div class="text_light text_center text_size_small">
                  Next Partner 2018
                </div>
              </div>
            </div>
            <div class="cont_winner">
              <div class="cont_brand">
                <img src="./dist/images/award-c-200x191.png" alt="">
              </div>
              <div class="cont_text">
                <div class="text_light text_center text_size_small">
                  10 Fastes Growing Abstract
                </div>
                <div class="text_light text_center text_size_small">
                  Solutions Providers 2019
                </div>
              </div>
            </div>
            <div class="cont_winner">
              <div class="cont_brand">
                <img src="./dist/images/award-d-200x191.png" alt="">
              </div>
              <div class="cont_text">
                <div class="text_light text_center text_size_small">
                  National Excellence Agencie
                </div>
                <div class="text_light text_center text_size_small">
                  Award Winner 2020
                </div>
              </div>
            </div>


          </div>

        </section>
        <section class="secttion_five">

          <div class="woman_container">
            <div class="cards_container_woman back_womane_red_hair">
            </div>

            <div class="cards_container_woman pr_15">
              <h4 class="mb_7">
                "Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                 qui officia deserunt mollit anim id est laborum."
              </h4>
              <div class="container_george">
                <div class="text_size_small mb_1">
                  Kate Schadler
                </div>
                <div class="text_size_extraSmall">
                  Marketing Consultant - Abstract
                </div>
              </div>

            </div>
          </div>

        </section>
        <section class="section_six">

          <div class="market_container">
            <div class="elements_cont">
              <h2 class="text_bold mt_10">
                Marketing Resources: <br>
                Insider Advice on How
              to Increase Online Sales
            </h2>
            </div>
            <div class="elements_cont">
              <button class="red_button" type="button" name="button">
              Explore All Resources
            </button>
            </div>
          </div>

          <div class="blog_container">
            <div class="blog_card_cont">
              <div class="cont_img back_laptop">
              </div>
              <h5 class="mt_2 mb_6">
                Marketing Tips and Tricks
                 For Your Website
              </h5>
            </div>

            <div class="blog_card_cont">
              <div class="cont_img back_laptop_2">
              </div>
              <h5 class="mt_2 mb_6">
                How To Write Stunning Blog Post Titles
              </h5>
            </div>

            <div class="blog_card_cont">
              <div class="cont_img back_laptop_3">
              </div>
              <h5 class="mt_2 mb_6">
                Techniques to Reduce Facebook Ads Spend
              </h5>
            </div>
          </div>

        </section>
        <section class="section_seven">
          <div class="center_container">
            <div class="contact_container color_white">
                <h1 class="text_bold mb_4">
                  Let's Make Things Happen
                </h1>
                <p class="lead mt_1">
                  Online marketing to secure costumers retantion,
                  leads and sales. We flocus on the bigger picture.
                </p>
                <hr class="my-4">
                <p class="font_oblique">"Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                   qui officia deserunt mollit anim id est laborum."
                </p>
                <div class="container_george">
                  <div class="text_size_small">
                    George Anderson
                  </div>
                  <div class="color_lightgrey text_size_extraSmall">
                    DigitalBox CEO
                  </div>
                </div>
            </div>

            <div class="contact_container ml_7">
              <div class="form">
                <div class="form_container">
                  <div class="img_cont">
                    <img src="./dist/images/marketing-consultant-expert.jpg" alt="">
                  </div>
                  <div class="richard_cont">
                    <div class="text_center text_size_normal mb_2">
                      Richard Madsen
                    </div>
                    <div class="text_center text_light color_grey text_size_small auto_center">
                      Marketing Consultant Expert
                    </div>
                    <div class="telephone_number_cont text_center auto_center">
                      <i class="fas fa-phone-alt"></i>
                      <p class="color_red">(555) 802-1234</p>
                    </div>
                  </div>
                  <div class="input_container">
                    <input type="text" name="name" placeholder="Your Name*">
                    <input type="text" name="mail" placeholder="Your Email*">
                    <input type="text" name="phone" placeholder="Your Phone Number*">
                    <button class="red_button" type="button" name="button">
                      Get a Callback
                    </button>
                    <p class="text_center text_size_extraSmall color_normal_grey">
                      By submitting my data I agree to be contacted
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer>

        <div class="foot_first_section">

          <div class="cont_left">
            <h5 class="line_height">Grown Your Online Business Strategically,
            and Improve<br>CostumerRetention.
            </h5>

            <div class="cont_social">
              <div class="cont_i"
              v-for="icon in icons">
                <a href="#">
                  <i v-bind:class="`fab fa-${icon.name}`"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="cont_right">

            <div class="cont_ul">
              <ul>
                <li v-for="service in services">
                  <a :href="`${service.link}`">
                    {{ service.name }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="cont_ul">
              <ul>
                <li v-for="resource in resources">
                  <a :href="`${resource.link}`">
                    {{ resource.name }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="cont_ul">
              <ul>
                <li v-for="company in companies">
                  <a :href="`${company.link}`">
                    {{ company.name }}
                  </a>
                </li>
              </ul>
            </div>

          </div>

        </div>

        <div class="foot_sec_section">
          <div class="foot_small_cont">
            © 2020 • Avada Consultant • Powered by WordPress
          </div>
          <div class="foot_small_cont">
            Call Us (555) 802-1234
          </div>
          <div class="foot_small_cont">
            info@yourcompany.com
          </div>

        </div>

      </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./dist/js/main.js" charset="utf-8"></script>
  </body>
</html>
